.clndr {
    float: left;
    width: 80%;
    border-right: 2px solid white;
    .day {
	    float: left;
	    width: 14.2857%;
	    height: 66px;
	    padding: 24px 0;
	    text-align: center;
	    color: #4f4f4f;
	    background-color: #ebebeb;
	    border-bottom: 2px solid white;
	    line-height: 100%;
        position: relative;
        &.today {
        	background: white;
        }
        &.adjacent-month {
        	background: #c5c5c5;
        	.day-number {
        		opacity: .4;
        	}
        }
	    &.event {
	    	.day-number {
	    		position: relative;
	    		color: white;
	    		z-index: 2;
	    		cursor: pointer;
	    		&:after {
	    			content: "";
	    			display: block;
	    			position: absolute;
	    			width: 40px;
	    			height: 40px;
	    			border-radius: 50%;
	    			top: 50%;
	    			left: 50%;
	    			transform: translate(-50%, -50%);
					z-index: -1;
					background: gray;
	    		}
	    	}
	    }
	}
	.header-day {
	    float: left;
	    width: 14.2857%;
	    padding: 14px;
	    text-align: center;
	    color: white;
	}
	.days-of-the-week {
		float: left;
    	width: 100%;
    	background-color: #3883a3;
	}
	.clndr-controls {
		text-align: center;
		padding: 10px;
		font-weight: bold;
		text-transform: uppercase;
		background-color: #ebebeb;
		> * {
			display: inline-block;
		}
	}
}
.day-event-listing {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background: gray;
    min-width: 200px;
    z-index: 100;
    color: white;
    ul {
    	margin: 0;
    	padding: 0;
    	.event {
    		margin: 10px 0 10px;
		}
    }
}
.event-listing-group {
    position: relative;
    padding: 0 0 0 80px;
    border-bottom: 2px solid red;
    float: left;
    width: 100%;
}
.event-listing {
	padding: 10px 20px 20px;
	color: black;
    float: left;
    width: 100%;
    border-bottom: 1px solid gray;
    &:last-child {
    	border-bottom: none;
    }
}
.event-group-date {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background: gray;
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
    &:before,
    &:after {
    	display: block;
    }
    &:before {
		content: attr(data-day);
	}
	&:after {
		content: attr(data-month);
	}
}